body,html {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}

.navbar {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;	
}

.navbar-brand {
	padding-top: 10px;
}

.nav.navbar-nav li a {
	font-size: 20px;
	color: #FFF;
}

.jumbotron {
	background: #000;
	color: #666;
}

.jumbotron img {
	text-align: center;
	display: inline-block;
}

.jumbotron h1 {
	font-size: 40px;
	padding: 0 30px;
}

.jumbotron strong {
	font-weight: 300;
}

.jumbotron .btn {
	margin-top: 15px;
	width: 25%;
	height: 60px;
	font-size: 25px;
	background: rgba(255,255,255,0.8);
	border-radius: 30px;
	color: #000;
	border: none;
	transition: all 0.2s ease-out;
	outline: none;
}

.jumbotron .btn:hover {
	outline: none;
	box-shadow: 0px 0px 15px 2px #EEE;
}

.jumbotron .btn:focus,
.jumbotron .btn:active {
	outline: none;
}

#search {
	text-align: center;
	padding: 10px 0 50px 0;
	box-shadow: 0 15px 20px -20px #000;
}

#search form {
	transition: opacity 0.3s ease-out;
}

#search input {
	width: 500px;
}

#search button.btn-lg {
	background: #222;
	color: #999;
}

#search input,
#search button.btn-lg,
#search select {	
	box-shadow: 0px 0px 5px 0px #000;
	border: none;
	outline: none;
	transition: all 0.2s ease-out;
}

#search input:hover,
#search input:focus,
#search button.btn-lg:hover,
#search button.btn-lg:focus,
#search select:hover,
#search select:focus {
	box-shadow: 0px 0px 5px 2px #000;
}

#search input:focus,
#search input:active,
#search button.btn-lg:focus,
#search button.btn-lg:active,
#search select:focus,
#search select:active {
	outline: none;
}

#results {
	padding: 50px;
	height: 100vh;
}

#results .panel-heading {
	padding: 1px 0 0 15px;
}

#character-thumbnail {
	border-radius: 15px;
	box-shadow: 0 0 15px 2px #000;
}

#search div#character-not-found {
	margin-top: 15px;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 60%;
	height: 30px;
}

.panel-title > h4 {
	font-size: 2em;
}

.character-name {
	margin-left: 15px;
	font-weight: 500;
}

.character-mounts-collected {
	font-weight: 300;
	color: orange;
	font-style: italic;
}

.mounts-left {
	font-size: 0.7em;
}

.mounts-container {
	width: 100%;
	text-align: center;
	margin-left: 50px;
}

.mount {
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	width: 20%;
	height: 200px;
	float: left;
	transition: box-shadow 0.2s ease-out;
	margin: 10px;
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -25px;
	position: relative;
}

.mount h3.mount-name {
	font-weight: 400;
	color: #DDD;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 50px;
}

.mount:hover {
	box-shadow: 0px 0px 15px 0px #000;
	border-width: 5px;
}

.legendary {
	border-color: #ff8000;
}

.epic {
	border-color: #c600ff;
}

.rare {
	border-color: #0081ff;
}

.uncommon {
	border-color: #1eff00;
}

.common {
	border-color: #FFF;
}

.junk {
	border-color: #9d9d9d;
}

.crafted {
	border-color: #e5cc80;
}